# German Used Cars - Data Cleaning & E.D.A.

In this project we will be taking a closer look at the state of Germany's used car market. Using the dataset that is found on [Kaggle](https://www.kaggle.com/datasets/wspirat/germany-used-cars-dataset-2023), we are going to be cleaning, analysing and exploring the said dataset's data in order to accumulate as much information as possible about this market and come up with answers to various questions.

## Part 0 - Importing the Libraries & Taking a Glance at the Data

In [579]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

raw_df = pd.read_csv('Data - German_Used_Cars.csv')
df = raw_df.copy()

In [580]:
df.head()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"

In [581]:
df.shape

(251079, 15)

In [582]:
df.columns

Index(['Unnamed: 0', 'brand', 'model', 'color', 'registration_date', 'year',
       'price_in_euro', 'power_kw', 'power_ps', 'transmission_type',
       'fuel_type', 'fuel_consumption_l_100km', 'fuel_consumption_g_km',
       'mileage_in_km', 'offer_description'],
      dtype='object')

In [583]:
df.dtypes

Unnamed: 0                    int64
brand                        object
model                        object
color                        object
registration_date            object
year                         object
price_in_euro                object
power_kw                     object
power_ps                     object
transmission_type            object
fuel_type                    object
fuel_consumption_l_100km     object
fuel_consumption_g_km        object
mileage_in_km               float64
offer_description            object
dtype: object

In [584]:
df.isna().sum()

Unnamed: 0                      0
brand                           0
model                           0
color                         166
registration_date               4
year                            0
price_in_euro                   0
power_kw                      134
power_ps                      129
transmission_type               0
fuel_type                       0
fuel_consumption_l_100km    26873
fuel_consumption_g_km           0
mileage_in_km                 152
offer_description               1
dtype: int64

After our brief glance of the data there are some things that we need to keep in mind moving forward. More specifically:

- There is an extra column, namely 'Unnamed: 0', which does not serve any significant purpose and thus must be *dropped*.
- The majority of the data types in the dataset are objects (in particular **strings**) and should be turned to their appropriate dtypes.
- There is a considerable amount of missing values, compared to the amount of rows in the dataset, and we have to treat them carefully in order not to lose as much data during the 'cleaning' phase.

## Part 1 - Data Cleaning

In order to improve the results of our analysis, we must first go through the stage of cleaning our data; making it more accurate and removing unwanted clutter. In the following steps we will be taking the necessary actions in doing that.

In [585]:
# dropping the columns we won't be using
df.drop(['Unnamed: 0', 'offer_description', 'power_kw'], axis=1, inplace=True)

In [586]:
print('Unique values in the registration_date column before cleaning:')
df.registration_date.unique()

Unique values in the registration_date column before cleaning:

array(['10/1995', '02/1995', '07/1995', '11/1996', '04/1996', '12/1996',
       '07/1996', '01/1996', '02/1996', '10/1996', '05/1997', '06/1997',
       '10/1997', '03/1997', '01/1997', '02/1997', '04/1997', '07/1997',
       '09/1997', '07/1998', '05/1998', '01/1998', '11/1998', '09/1998',
       '07/1999', '02/1999', '06/1999', '12/1999', '05/1999', '01/1999',
       '04/1999', '03/1999', '10/2000', '06/2000', '05/2000', '01/2000',
       '04/2000', '11/2000', '03/2000', '02/2000', '09/2001', '02/2001',
       '03/2001', '01/2001', '11/2001', '12/2001', '04/2001', '05/2001',
       '07/2001', '06/2001', '10/2002', '12/2002', '01/2002', '09/2002',
       '11/2002', '06/2002', '03/2002', '02/2002', '05/2003', '10/2003',
       '07/2003', '02/2003', '01/2003', '03/2003', '08/2003', '06/2003',
       '03/2004', '02/2004', '09/2004', '04/2004', '08/2004', '01/2004',
       '11/2004', '06/2004', '10/2004', '12/2004', '07/2004', '05/2004',
       '10/2005', '06/2005', '07/2005', '09/2005', '01/2005', '11/2005',
       '05/2005', '08/2005', '02/2005', '02/2006', '09/2006', '04/2006',
       '01/2006', '08/2006', '06/2006', '11/2006', '05/2006', '07/2006',
       '12/2006', '03/2006', '10/2006', '03/2007', '08/2007', '10/2007',
       '06/2007', '11/2007', '09/2007', '05/2007', '07/2007', '12/2007',
       '04/2007', '02/2008', '06/2008', '10/2008', '07/2008', '05/2008',
       '11/2008', '08/2008', '09/2008', '12/2008', '04/2008', '01/2008',
       '06/2009', '12/2009', '07/2009', '05/2009', '01/2009', '09/2009',
       '03/2009', '10/2009', '11/2009', '02/2009', '04/2009', '08/2009',
       '07/2010', '01/2010', '04/2010', '09/2010', '12/2010', '08/2010',
       '11/2010', '03/2010', '05/2010', '10/2010', '06/2010', '10/2011',
       '09/2011', '06/2011', '05/2011', '03/2011', '08/2011', '11/2011',
       '04/2011', '01/2011', '12/2011', '07/2011', '02/2011', '07/2012',
       '10/2012', '12/2012', '03/2012', '05/2012', '09/2012', '01/2012',
       '06/2012', '02/2012', '11/2012', '08/2012', '04/2012', '10/2013',
       '06/2013', '08/2013', '11/2013', '04/2013', '12/2013', '09/2013',
       '03/2013', '02/2013', '05/2013', '01/2013', '08/2014', '04/2014',
       '09/2014', '12/2014', '05/2014', '01/2014', '11/2014', '07/2014',
       '11/2015', '06/2015', '04/2015', '12/2015', '07/2015', '03/2015',
       '02/2015', '08/2015', '01/2015', '09/2015', '01/2016', '06/2016',
       '11/2016', '03/2016', '09/2016', '02/2016', '08/2016', '05/2016',
       '10/2016', '12/2016', '04/2016', '07/2016', '08/2017', '09/2017',
       '03/2017', '05/2017', '06/2017', '10/2017', '12/2017', '07/2017',
       '02/2017', '04/2017', '11/2017', '07/2018', '02/2018', '01/2018',
       '03/2018', '05/2018', '06/2018', '09/2018', '10/2018', '11/2018',
       '12/2018', '04/2018', '08/2018', '08/2019', '10/2019', '02/2019',
       '05/2019', '03/2019', '12/2019', '09/2019', '01/2019', '04/2019',
       '06/2019', '11/2019', '07/2019', '09/2020', '06/2020', '04/2020',
       '12/2020', '05/2020', '10/2020', '02/2020', '11/2020', '08/2020',
       '07/2020', '03/2020', '01/2020', '10/2021', '12/2021', '09/2021',
       '04/2021', '02/2021', '11/2021', '07/2021', '06/2021', '08/2021',
       '05/2021', '01/2021', '03/2021', '04/2022', '11/2022', '12/2022',
       '06/2022', '03/2022', '10/2022', '05/2022', '01/2022', '07/2022',
       '09/2022', '08/2022', '02/2022', '04/2023', '03/2023', '02/2023',
       '01/2023', '05/2023', '06/2023', '03/1996', '04/2002', '03/2005',
       '07/2013', '02/2014', '05/2015', '10/2015', '01/2017', '08/1997',
       '12/1997', '11/1997', '06/1998', '08/1998', '10/1998', '03/1998',
       '08/1999', '10/1999', '11/1999', '09/1999', '08/2000', '12/2000',
       '07/2000', '09/2000', '10/2001', '08/2001', '07/2002', '08/2002',
       '05/2002', '04/2003', '12/2003', '09/2003', '11/2003', 'Manual',
       '12/2005', '04/2005', '8449', '01/2007', '02/2007', '03/2008',
       '02/2010', '8999', '03/2014', '06/2014', '10/2014', '99.900 km',
       '122.000 km', 'Automatic', '05/1995', '12/1995', '08/1995',
       '08/1996', '05/1996', '06/1996', '02/1998', '04/1998', '12/1998',
       '166.000 km', '1900', '2900', 'S/H', '20200', '8900', '83.600 km',
       '06/1995', '09/1995', '151.218 km', '11/2023', '04/1995',
       '01/1995', '09/1996', '5250', 'apple/android', '03/1995', 'Alu',
       nan, '21.327 km', '31.000 km', '5.900 km', '35900', '07/2023',
       '7 km', '31.525 km', '11/1995', '14950', '13490', '2500', '12900',
       '243.000 km', 'SITZH', '196.000 km', '11200', '88.500 km',
       '151.000 km', '35990', ' Navi', '43.000 km', '55.000 km', '25800',
       'DAB', '36500', '1.990 km', '127.500 km', '87.265 km', '17.660 km',
       '74.432 km', '13.500 km', '100 km', '37.500 km', '53.793 km',
       '42380', '59.850 km', '59900', '46890', '37.100 km', 'HAL', '360°',
       '96490', '101890', '78100', '93490', '151690', '226490', '50 km',
       '17750', '14990', ' Totwinkela..', '34.400 km', '17390', '23889',
       '70.865 km', '23950', '1.000 km', '45689', 'PDC', 'DCC', '33399',
       '20949', '110.000 km', 'SH', '33890', 'Technik', '10 km',
       '150.000 km', 'Euro 5', 'AHK', 'Tisch uvm', ' CARPLAY',
       '18.200 km', '8.500 km'], dtype=object)

In [587]:
#in order to filter out those unexpected values we create a condition; we want the date to be of the %m/%Y format
# and to only contain numbers

condition = (df.registration_date.str.contains('/') == True) & (df.registration_date.str.match("[0-9]+"))
df[~condition]

,brand,model,color,registration_date,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km
2400,audi,Audi A4,grey,Manual,Petrol,KLIMAAUTOMATIK*,75,Manual,07/2004,187 g/km,2004,2460.0
2743,audi,Audi A4,silver,8449,Automatic,Automatik,194 g/km,Automatic,74.194 km,Petrol,11/2005,NaN
5297,audi,Audi A1,blue,8999,Manual,6-Gang,126 g/km,Manual,110.250 km,Petrol,04/2011,NaN
9616,audi,Audi A1,white,Manual,Petrol,XEN AAC SHZ FSP APS 5TRG,90,Manual,06/2014,128 g/km,2014,12250.0
12206,audi,Audi A6,black,Manual,Diesel,NAVplus LEDER PANO ALC,140,Manual,12/2016,119 g/km,2016,21250.0
...,...,...,...,...,...,...,...,...,...,...,...,...
241462,volkswagen,Volkswagen Passat Variant,silver,Manual,Diesel,Navi uvm,110,Manual,06/2020,104 g/km,2020,20900.0
242569,volkswagen,Volkswagen up!,red,18.200 km,06/2021,PDC,"4,9 l/100 km",Manual,Manual,2021,Petrol,NaN
242579,volkswagen,Volkswagen up!,red,8.500 km,07/2021,Beats-Soundsystem,"4,9 l/100 km",Manual,Manual,2021,Petrol,NaN
246113,volkswagen,Volkswagen up!,red,Manual,Petrol,SHZ,85,Manual,03/2023,112 g/km,2023,23590.0
247366,volvo,Volvo XC90,blue,Automatic,Petrol,MATTSCHWARZ,235,Automatic,12/2016,- (g/km),2016,41999.0

As we can see above, most of the values in this subset are misplaced and it would take a lot of effort to bring it back to a proper, usable format. Luckily, since the number of misplaced entries is very low (only 199 out of 251079 total entries) we can safely remove those rows from our dataset.

In [588]:
misplaced_values_list = df[~condition].index.values
df.drop(misplaced_values_list, axis=0, inplace=True)

print('Unique values in the registration_date column after cleaning:')
df.registration_date.unique()

Unique values in the registration_date column after cleaning:

array(['10/1995', '02/1995', '07/1995', '11/1996', '04/1996', '12/1996',
       '07/1996', '01/1996', '02/1996', '10/1996', '05/1997', '06/1997',
       '10/1997', '03/1997', '01/1997', '02/1997', '04/1997', '07/1997',
       '09/1997', '07/1998', '05/1998', '01/1998', '11/1998', '09/1998',
       '07/1999', '02/1999', '06/1999', '12/1999', '05/1999', '01/1999',
       '04/1999', '03/1999', '10/2000', '06/2000', '05/2000', '01/2000',
       '04/2000', '11/2000', '03/2000', '02/2000', '09/2001', '02/2001',
       '03/2001', '01/2001', '11/2001', '12/2001', '04/2001', '05/2001',
       '07/2001', '06/2001', '10/2002', '12/2002', '01/2002', '09/2002',
       '11/2002', '06/2002', '03/2002', '02/2002', '05/2003', '10/2003',
       '07/2003', '02/2003', '01/2003', '03/2003', '08/2003', '06/2003',
       '03/2004', '02/2004', '09/2004', '04/2004', '08/2004', '01/2004',
       '11/2004', '06/2004', '10/2004', '12/2004', '07/2004', '05/2004',
       '10/2005', '06/2005', '07/2005', '09/2005', '01/2005', '11/2005',
       '05/2005', '08/2005', '02/2005', '02/2006', '09/2006', '04/2006',
       '01/2006', '08/2006', '06/2006', '11/2006', '05/2006', '07/2006',
       '12/2006', '03/2006', '10/2006', '03/2007', '08/2007', '10/2007',
       '06/2007', '11/2007', '09/2007', '05/2007', '07/2007', '12/2007',
       '04/2007', '02/2008', '06/2008', '10/2008', '07/2008', '05/2008',
       '11/2008', '08/2008', '09/2008', '12/2008', '04/2008', '01/2008',
       '06/2009', '12/2009', '07/2009', '05/2009', '01/2009', '09/2009',
       '03/2009', '10/2009', '11/2009', '02/2009', '04/2009', '08/2009',
       '07/2010', '01/2010', '04/2010', '09/2010', '12/2010', '08/2010',
       '11/2010', '03/2010', '05/2010', '10/2010', '06/2010', '10/2011',
       '09/2011', '06/2011', '05/2011', '03/2011', '08/2011', '11/2011',
       '04/2011', '01/2011', '12/2011', '07/2011', '02/2011', '07/2012',
       '10/2012', '12/2012', '03/2012', '05/2012', '09/2012', '01/2012',
       '06/2012', '02/2012', '11/2012', '08/2012', '04/2012', '10/2013',
       '06/2013', '08/2013', '11/2013', '04/2013', '12/2013', '09/2013',
       '03/2013', '02/2013', '05/2013', '01/2013', '08/2014', '04/2014',
       '09/2014', '12/2014', '05/2014', '01/2014', '11/2014', '07/2014',
       '11/2015', '06/2015', '04/2015', '12/2015', '07/2015', '03/2015',
       '02/2015', '08/2015', '01/2015', '09/2015', '01/2016', '06/2016',
       '11/2016', '03/2016', '09/2016', '02/2016', '08/2016', '05/2016',
       '10/2016', '12/2016', '04/2016', '07/2016', '08/2017', '09/2017',
       '03/2017', '05/2017', '06/2017', '10/2017', '12/2017', '07/2017',
       '02/2017', '04/2017', '11/2017', '07/2018', '02/2018', '01/2018',
       '03/2018', '05/2018', '06/2018', '09/2018', '10/2018', '11/2018',
       '12/2018', '04/2018', '08/2018', '08/2019', '10/2019', '02/2019',
       '05/2019', '03/2019', '12/2019', '09/2019', '01/2019', '04/2019',
       '06/2019', '11/2019', '07/2019', '09/2020', '06/2020', '04/2020',
       '12/2020', '05/2020', '10/2020', '02/2020', '11/2020', '08/2020',
       '07/2020', '03/2020', '01/2020', '10/2021', '12/2021', '09/2021',
       '04/2021', '02/2021', '11/2021', '07/2021', '06/2021', '08/2021',
       '05/2021', '01/2021', '03/2021', '04/2022', '11/2022', '12/2022',
       '06/2022', '03/2022', '10/2022', '05/2022', '01/2022', '07/2022',
       '09/2022', '08/2022', '02/2022', '04/2023', '03/2023', '02/2023',
       '01/2023', '05/2023', '06/2023', '03/1996', '04/2002', '03/2005',
       '07/2013', '02/2014', '05/2015', '10/2015', '01/2017', '08/1997',
       '12/1997', '11/1997', '06/1998', '08/1998', '10/1998', '03/1998',
       '08/1999', '10/1999', '11/1999', '09/1999', '08/2000', '12/2000',
       '07/2000', '09/2000', '10/2001', '08/2001', '07/2002', '08/2002',
       '05/2002', '04/2003', '12/2003', '09/2003', '11/2003', '12/2005',
       '04/2005', '01/2007', '02/2007', '03/2008', '02/2010', '03/2014',
       '06/2014', '10/2014', '05/1995', '12/1995', '08/1995', '08/1996',
       '05/1996', '06/1996', '02/1998', '04/1998', '12/1998', '06/1995',
       '09/1995', '11/2023', '04/1995', '01/1995', '09/1996', '03/1995',
       '07/2023', '11/1995'], dtype=object)

Now, let's take the time to address the missing values in our dataframe. During our brief look at the dataset at the beginning of the project we noted that most of them are located in the Fuel Consumption column. Before we proceed with any data manipulation, let's take a moment to question why some of these values are missing.

- Electric vehicles do not consume fuel, but instead rely on a battery to move.
- The dataset is a collection of online car listings, thus many entries are subject to human lack of knowledge. The fuel consumption entry is no exception as many car owners may not be aware of such details about their car.

In [589]:
missing_values_df = pd.DataFrame(df[df.fuel_consumption_l_100km.isna()]['fuel_type'].value_counts())
missing_values_df.columns = ['Missing Values']
missing_values_df['Total Rows'] = df['fuel_type'].value_counts()
missing_values_df['% of Missing Values'] = round(missing_values_df['Missing Values'] \
/missing_values_df['Total Rows']*100, 2)
missing_values_df.sort_values('% of Missing Values', ascending=False)

               Missing Values  Total Rows  % of Missing Values
Electric                 5496        5967                92.11
Unknown                    73          96                76.04
Hydrogen                   44          82                53.66
Other                      91         178                51.12
Ethanol                     5          10                50.00
Diesel Hybrid              99         476                20.80
CNG                        94         508                18.50
Hybrid                   2257       12607                17.90
LPG                       185        1255                14.74
Diesel                   7425       86421                 8.59
Petrol                  11104      143280                 7.75

What meaning does the above table convey to us exactly? We can see that roughly 92% of the total rows of electric vehicles have a missing value in the Fuel Consumption column. Dropping these rows from our dataset now would be disastrous for our later on analysis. On the other hand, we can drop the rows for which the Fuel Type is 'Unknown' or 'Other' because not only are they significantly less in size, compared to the total row count, but also due to the fact that the ratio between the missing and total entries is still high.

So, for now, let's simply replace the missing values of all the fuel types with zero and drop the entries which we do not need.

In [590]:
df = df[df['fuel_type'] != 'Unknown']
df = df[df['fuel_type'] != 'Other']

In [591]:
# replacing the nan values with zero for the rest of the entries and printing the results
df['fuel_consumption_l_100km'] = df.loc[:,'fuel_consumption_l_100km'].fillna(0)
na_fuel_consumption_rows = df['fuel_consumption_l_100km'].isna().sum()
print('Number of rows with missing values in the Fuel Consumption column after cleaning: ', na_fuel_consumption_rows)

Number of rows with missing values in the Fuel Consumption column after cleaning:  0

We still need to address the zero-valued rows for the electric vehicles which we replaced in the previous step, so let's do that now.

In [592]:
df[df.fuel_type == 'Electric']

,brand,model,color,registration_date,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km
16552,audi,Audi e-tron,beige,09/2019,2019,51888,408,Automatic,Electric,0,359 km Reichweite,84800.0
16559,audi,Audi e-tron,beige,07/2019,2019,53990,408,Automatic,Electric,0,359 km Reichweite,51000.0
16561,audi,Audi e-tron,beige,11/2019,2019,54870,408,Automatic,Electric,0,0 g/km,82814.0
16571,audi,Audi e-tron,beige,12/2019,2019,61989,408,Automatic,Electric,0,0 g/km,55990.0
16579,audi,Audi e-tron,blue,02/2019,2019,32930,408,Automatic,Electric,0,359 km Reichweite,84300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
251033,volvo,Volvo C40,black,05/2023,2023,52890,231,Automatic,Electric,0,400 km Reichweite,8.0
251037,volvo,Volvo XC40,black,04/2023,2023,49900,231,Automatic,Electric,0,0 g/km,14900.0
251048,volvo,Volvo C40,black,01/2023,2023,51990,231,Automatic,Electric,0,0 g/km,2106.0
251056,volvo,Volvo C40,black,05/2023,2023,60520,231,Automatic,Electric,0,400 km Reichweite,3000.0
251078,volvo,Volvo XC40,gold,03/2023,2023,52900,218,Automatic,Electric,0,438 km Reichweite,50.0

The column named 'fuel_consumption_g_km' contains information about the cars' battery range (*Reichweite = Range* in German) so we can extract that information and make a new column with the battery range values.

In [593]:
df['range'] = '' #creating an empty column
el_vehicles = df[df.fuel_type == 'Electric'].index.values #index values of all electric vehicles

df.loc[el_vehicles, 'range'] = df.loc[el_vehicles, 'fuel_consumption_g_km'].str.extract(pat='(\d+)', expand=False)

In [599]:
#dropping unnecessary columns and rearranging
df = df[['brand', 'model', 'color', 'registration_date', 'year', 'power_ps', \
'transmission_type', 'fuel_type', 'fuel_consumption_l_100km', 'range', 'mileage_in_km', 'price_in_euro']]

df

,brand,model,color,registration_date,year,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,range,mileage_in_km,price_in_euro
0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,201,Manual,Petrol,"10,9 l/100 km",,160500.0,1300
1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,260,Manual,Petrol,0,,190000.0,24900
2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,150,Unknown,Petrol,0,,129000.0,5900
3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,150,Manual,Petrol,"9,5 l/100 km",,189500.0,4900
4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,179,Manual,Petrol,"7,2 l/100 km",,96127.0,17950
...,...,...,...,...,...,...,...,...,...,...,...,...
251074,volvo,Volvo XC40,white,04/2023,2023,261,Automatic,Hybrid,0,,1229.0,57990
251075,volvo,Volvo XC90,white,03/2023,2023,235,Automatic,Diesel,"7,6 l/100 km",,4900.0,89690
251076,volvo,Volvo V60,white,05/2023,2023,197,Automatic,Diesel,"4,7 l/100 km",,1531.0,61521
251077,volvo,Volvo XC40,white,05/2023,2023,179,Automatic,Hybrid,0,,1500.0,57890
251078,volvo,Volvo XC40,gold,03/2023,2023,218,Automatic,Electric,0,438,50.0,52900

Since most of our columns still contain string based values, it would be beneficial to convert them into their appropriate data type.